{% extends "base.html" %}

{% block content%}
<div class="container">
  <table class="table table-striped">
    <thead>
      <tr>
        <th>Name</th>
        <th>Socket</th>
        <th>TDP</th>
        <th>Cores / Threads</th>
      </tr>
    </thead>
    <tbody>
    {% for cpu in cpu_list %}
      <tr>
        <td>{{cpu.human_name}}</td>
        <td>{{cpu.socket}}</td>
        <td>{{cpu.tdp_w}} W</td>
        <td>{{cpu.cores}} / {{cpu.threads}}</td>
      </tr>
    {% endfor %}
    </tbody>
  </table>


</div>
{% endblock %}