{% extends "base.html" %}

{% block content%}
<div class="container">
  <table class="table table-stripped">
    <thead>
      <tr>
        {% for human_column in human_columns %}
        <th {%if human_column!='Name' %}class="text-center" {%endif%}>{{human_column}}</th>
        {% endfor %}
      </tr>
    </thead>
    <tbody>
      {% for component in component_list %}
      <tr>
        {% for column in columns %}
        {% if column in ['human_name', 'component_name'] %}
        <td><a href="{{component['further_link']}}">{{component[column]}}</a></td>
        {% else %}
        <td class="text-center">{{component[column]}}</td>
        {% endif %}
        {% endfor %}
      </tr>
      {% endfor %}
    </tbody>
  </table>
</div>

{% for component in components %}
{% endfor %}

{% endblock %}